
body{

    margin: 0;
    background: linear-gradient(to right, #1c0030, #000045); 
    background-size: cover;
}

#nav_description{
    display: flex;
    height: 100px;
    opacity: 85%;
    background-color: black;
    justify-content: space-around;

}

@media (max-width: 500px) {
  #nav_description {
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
  }
}


#btn_home{
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    margin-top: 22px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
}
#btn_desideri{
    border-radius: 50px;
    width: 200px;
    margin-top: 22px;
    cursor: pointer;
    height: 40px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
}
#btn_visualizza_desideri{
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    margin-top: 22px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
}

#btn_home:hover {
    box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
  }
  #btn_desideri:hover {
    box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
  }
  #btn_visualizza_desideri:hover {
    box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
  }

  @media (max-width: 500px) {
    #btn_home,
    #btn_desideri,
    #btn_visualizza_desideri {
      width: calc(33.30% - 20px);
      margin: 10px;
      height: 55px;
    }
  }

.contenitore_immagine{

    display: flex;
    justify-content: center;
}

.immagine_header{

        width: 70%;
}

@media (max-width: 500px) {
    
  .immagine_header,
  .screen_thumbnail {
    width: 70%;
  }
}

.gioco{

    display: flex;
    flex-direction: column;

}
.title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.descr{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenitore_descrizione{

    display: flex;
    justify-content: center;
}

.descrizione_generale{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 625px;
}

@media (max-width: 500px) {
    
 .descrizione_generale{

    width: 355px;
 }
}


.requisiti{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}


.contenitore_screen {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;

  }

  .screen_thumbnail{
    border-style: solid;
    border-radius: 80px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    cursor: pointer;
  }
  



.immagine_grande{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color:rgba(0,0,0,0.9);
}

.immagine_grande img{
    position: absolute;
    top:30%;
    left:30%;
}

@media (max-width: 500px) {
    
  .immagine_grande img{
  top: 40%;
  left: 10%;
  width: 300px;
 }
}



.icon_x1{
  transform: rotate(125deg);
  background-color: white;
  display: block;
  width: 42px;
  position: absolute;
  top: 100px;
  height: 6px;
}
.icon_x2{
  transform: rotate(45deg);
  background-color: white;
  display: block;
  width: 42px;
  position: absolute;
  top: 100px;
  height: 6px;
}


.btn_x{

  display: flex;
  justify-content: end;
  visibility: hidden;
  position: relative;
  right: 100px;
  cursor: pointer;

}

@media (max-width: 500px) {
    
  .btn_x{
    top: 60px;
    right: 36px;
 }
}
