article {
  margin: auto;
  width: 700px;
}

#author {
  font-size: 14px;
}

body {
  color: #222222;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  margin: 0;
  
}

h1 {
  font-size: 42px;
  margin: 18px 0;
  text-decoration: none;
}

header a{
  text-decoration: none;
  color:purple;
}

header h1 {
  font-size: 32px;
  text-align: center;
  align-self: center;
  font-family:sans-serif;
  font-weight: bold;
}

header h1:hover{

  background-color: rgb(207, 207, 207);
}

header {
  display: flex;
  border-bottom: 1px solid #cccccc;
  height: 80px;
}

header div,
header h1 {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
}



header div {
  justify-content: flex-end;
}




.choice-grid img.checkbox {
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

p {
  margin: 18px 0;
}

.question-name {
  align-items: center;
  background-image: url('image/background.png');
  display: flex;
  height: 425px;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.question-name h1 {
  background-color: rgba(255,255,255, 0.9);
  color: black;
  font-family: 'Pangolin', 'Trebuchet MS', cursive;
  font-size: 60px;
  padding: 10px;
  max-width: 75%;
}