
body{
  margin:0;
  background: linear-gradient(to right, #1c0030, #000045); 
  background-size: cover;
}

#nav_login{

  display: flex;
  justify-content: center;
  height: 100px;
  opacity: 85%;
  background-color: black;
}

#contenuto_log{

display: flex;
}
#btn_indietro{
  border-radius: 50px;
  width: 200px;
  height: 40px;
  position: relative;
    left: 350px;
    top: 25px;
    border:solid 3px  #990066	;
    background-color: #E1E1E1	;
    transition: all 150ms ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#btn_indietro:hover {
  box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
}

@media (max-width: 500px) {
  #btn_indietro {
      left: 0;
      margin: 20px auto;
  }
}


#img_logo{
  margin-top: 20px;
  width: 200px;
  height: 200px;  
  margin-left: 200px;  

}

@media (max-width: 500px) {
  #img_logo {
      margin-left: 0;
  }
}

#registrazione{

 font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
  position: relative;
  bottom:35px;
}

@media (max-width: 500px) {

  #registrazione {
      bottom: 0;
  }
} 
#contenuto{

  display: flex;
  height: 600px;
justify-content: center;
margin-top: 100px;
}

#form_reg{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 600px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  border:solid 3px  #990066	;
  box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066;
  flex-direction: column;
  }

  
@media (max-width: 500px) {
 
  #form_reg {
      width: 90%;
      max-width: 90%;
      margin: 20px auto;
  }
}
  
  .tabella {
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      padding: 20px;
      height: 20px;
  }


  .reg{

    color: black;
    outline: none;
    height: 40px;
    width: 300px;
    
    border: 1px solid #32353c;
  }


  #contenuto_btn{

    display: flex;
    height: 30px;
    justify-content: center;
    margin-top: 40px;
}
#btn_regi{
  border-radius: 50px;
  width: 200px;
  height: 40px;
border-color: #990066	;
background-color: #E1E1E1	;
  transition: all 150ms ease-in-out;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#btn_regi:hover {
  box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
}




#contenuto_errori{
  width: 300px;
  display: flex;
  justify-content: center;

}

.error{

  color: red;
  font-size: 12px;
  font-weight: bold;
}


