
body{

    margin: 0;
    background: linear-gradient(to right, #1c0030, #000045); 
    background-size: cover;
}

#nav_description{
    display: flex;
    height: 100px;
    opacity: 85%;
    background-color: black;
    justify-content: space-around;

}

#btn_home{
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    margin-top: 22px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
}
#btn_home:hover {
  box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
}

@media (max-width: 500px) {
    
  #btn_home{
   width: 100px;
  }
  }

#btn_indietro{

    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    margin-top: 22px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      margin-left: 300px;
  
  }
  #btn_indietro:hover {
    box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
  }
  @media (max-width: 500px) {
    
    #btn_indietro{
      margin-left: 26px;
      width: 115px;
    }
    }
  .nomi{
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
#bar_description{
  display: flex;
}

  #contenuto{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .desideri{
  
  background-color: white;
  margin-top: 30px;
  display: contents;
  
  
  }
  .nomi{
  
    margin-bottom: 20px;
  }
  

  @media (max-width: 500px) {
    
    .desideri img{
     width: 300px;
    }
    }

  .btn_elimina{
    border-radius: 50px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
      border:solid 3px  #990066	;
      background-color: #E1E1E1	;
      transition: all 150ms ease-in-out;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      margin-bottom: 20px;
      cursor: pointer;
  
  }
  .btn_elimina:hover {
    box-shadow: 0 0 10px 0 #990066	inset, 2px 0 10px 0px #990066	;
  }



  
  .vuoto{
    font-family: 'Courier New', Courier, monospace;
    color: white;
  
  }
  
  

  @media (max-width: 500px) {
    
    .vuoto{
     width: 320px;
    }
    }
 